#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.page-content {
  width: 100%;
  box-sizing: border-box;
}

/* Tila navbarin (sivupalkin) verran, ettei sisältö mene sen alle */
.page-content.with-sidebar {
  margin-left: 220px;
  width: calc(100% - 220px);
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

